deploy_lambda_job:
  stage: deploy
  image:
    name: amazon/aws-cli:latest
    entrypoint: [""]
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - lambda/**/*
  before_script:
    - yum install -y zip
  script: |
    echo "--- Bắt đầu deploy Lambda (Chạy song song) ---"

    cd lambda

    # Kiểm tra xem có file .py nào không để tránh lỗi nếu folder rỗng
    if ls *.py 1> /dev/null 2>&1; then
      for file in *.py; do
        func_name=$(basename "$file" .py)
        echo ">>> Đang xử lý: $func_name"

        # 1. Zip file
        zip -j "${func_name}.zip" "$file"
        
        # 2. Upload S3
        echo "Upload $func_name lên S3..."
        aws s3 cp "${func_name}.zip" "s3://$S3_BUCKET_LAMBDA/functions/${func_name}.zip" --region $AWS_DEFAULT_REGION
        
        # 3. Update Lambda
        echo "Update code cho Lambda function..."
        aws lambda update-function-code \
          --function-name "$func_name" \
          --s3-bucket "$S3_BUCKET_LAMBDA" \
          --s3-key "functions/${func_name}.zip" \
          --region $AWS_DEFAULT_REGION
          
        # Dọn dẹp
        rm "${func_name}.zip"
      done
    else
      echo "Không tìm thấy file .py nào trong thư mục lambda."
    fi
